---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/layout/Container.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
import FilterTabs from '@/components/layout/FilterTabs.astro';
import YearGroup from '@/components/content/YearGroup.astro';
import type { Post } from '@/types';
import { getEntriesByYearSorted } from '@/utils/entries';
import { getAllPosts, getTopLevelPosts, sortPostsByDate, getPostsByYearSorted } from '@/utils/getContent';
import { getAllGalleries, sortGalleriesByDate } from '@/utils/getGallery';
import { siteConfig } from '@/site.config';

// Fetch all posts and galleries
const allPosts = await getAllPosts();
const parentPosts = await getTopLevelPosts(allPosts);
const sortedPosts = await sortPostsByDate(parentPosts);
const galleries = await getAllGalleries();

const allContent = [...sortedPosts, ...galleries];

// Combine and sort by date
const groupedPosts = await getPostsByYearSorted(allContent);

const indexPageFilters = siteConfig.pageFilters.indexPageFilters;

---

<BaseLayout>
  <Container class="py-8">
    
    <PageHeader
      title="Thinking out loud."
      description="This is my personal blog, a space where I share my thoughts, ideas and other interesting things I come across."
    />
    
    <FilterTabs tabs={indexPageFilters} class="mb-12" />
    
    <div class="flex flex-col gap-16">
      {groupedPosts.map(([year, posts]) => (
        <YearGroup 
          year={parseInt(year)} 
          entries={posts}
        />
      ))}
    </div>
  </Container>
</BaseLayout>