@import "tailwindcss";
@import "./colors.css";
@import "./typography.css";

@theme {
  
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-headings: var(--font-headings);
  --font-code: var(--font-code); 
}

@theme inline {

  --color-surface: var(--color-surface);
  --color-surface-2: var(--color-surface-2);
  
  --color-content: var(--color-content);
  --color-content-2: var(--color-content-1);
  --color-content-3: var(--color-content-2);
  
  --color-ui: var(--color-ui);
  --color-ui-2: var(--color-ui-2);
  --color-ui-3: var(--color-ui-3);
  
  --color-primary: var(--color-primary);
  --color-primary-2: var(--color-primary-2);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  body {
    @apply m-0 font-primary bg-surface text-content leading-relaxed antialiased text-base ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Breakout - moderately wider */
  .breakout {
    @apply sm:-mx-24;
  }

  /* Breakout-wide - full viewport */
  .breakout-wide {
    @apply w-screen;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}