@import "tailwindcss";
@import "./colors.css";
@import "./typography.css";
@import "./obsidian.css";
@import "./utilities.css";
@import "./glightbox-custom.css";
/* @import "../../node_modules/@preline/collapse/variants.css"; */


@theme {
  
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-headings: var(--font-headings);
  --font-code: var(--font-code); 
}

@theme inline {

  --color-surface: var(--color-surface);
  --color-surface-2: var(--color-surface-2);
  
  --color-content: var(--color-content);
  --color-content-2: var(--color-content-2);
  --color-content-3: var(--color-content-3);
  
  --color-ui: var(--color-ui);
  --color-ui-2: var(--color-ui-2);
  --color-ui-3: var(--color-ui-3);
  
  --color-primary: var(--color-primary);
  --color-primary-2: var(--color-primary-2);

  --color-red     : var(--color-red);
  --color-red-2   : var(--color-red-2);

  --color-orange     : var(--color-orange);
  --color-orange-2   : var(--color-orange-2);

  --color-yellow     : var(--color-yellow);
  --color-yellow-2   : var(--color-yellow-2);

  --color-green     : var(--color-green);
  --color-green-2   : var(--color-green-2);

  --color-cyan     : var(--color-cyan);
  --color-cyan-2   : var(--color-cyan-2);

  --color-blue     : var(--color-blue);
  --color-blue-2   : var(--color-blue-2);

  --color-purple     : var(--color-purple);
  --color-purple-2   : var(--color-purple-2);

  --color-magenta     : var(--color-magenta);
  --color-magenta-2   : var(--color-magenta-2);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  body {
    @apply m-0 font-primary bg-surface text-content leading-relaxed antialiased text-base ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}