@import "tailwindcss";
@import "./colors.css";

@theme {
  
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-headings: var(--font-headings);
  --font-code: var(--font-code); 
}

@theme inline {

  --color-background: var(--theme-background);
  --color-foreground: var(--theme-foreground);
  --color-content-1: var(--theme-content-1);
  --color-content-2: var(--theme-content-2);
  --color-content-3: var(--theme-content-3);
  --color-surface-elevated: var(--theme-surface-elevated);
  --color-surface-muted: var(--theme-surface-muted);
  --color-ui: var(--theme-ui);
  --color-primary: var(--theme-primary);
  --color-primary-hover: var(--theme-primary-hover);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  body {
    @apply m-0 font-primary bg-background text-content-1 leading-relaxed antialiased text-base ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

 /* Container */
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 w-full;
  }

  /* Breakout - moderately wider */
  .breakout {
    @apply -mx-24;
  }

  /* Breakout-wide - full viewport */
  .breakout-wide {
    @apply w-screen;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  .content-1 {
    @apply text-content-1;
  }

  .muted-2 {
    @apply text-content-2;
  }

  .muted-3 {
    @apply text-content-3;
  }

}