---
import { siteConfig } from '@/site.config';


const { enabled, image, placement } = siteConfig.branding.avatar;

// Only render if enabled and in correct placement

const { currentPlacement } = Astro.props;

if (!enabled || placement !== currentPlacement) {
  return null;
}
---

<div class="avatar-wrapper ring-2 ring-ui rounded-full shadow-lg">
  <img 
    src={image} 
    alt={`${siteConfig.author} avatar`}
    class="rounded-full w-12 h-12 object-cover border border-ui hover:shadow-lg"
  />
</div>