---
import type { AllContentEntry } from '@/types';
import ContentEntry from '@/components/content/ContentEntry.astro';

interface Props {
  year: number;
  entries: AllContentEntry[];
  showIcon?: boolean;
}

const { year, entries, showIcon = true } = Astro.props;
---

<section class="year-group not-prose">
  
  <h2 class="text-lg font-semibold text-content-3 font-mono mb-4">
    {year}
  </h2>
  
  <div class="flex flex-col gap-1">
    {entries.map(entry => (
      <ContentEntry entry={entry} showIcon={showIcon} />
    ))}
  </div>

</section>  