---
import IconWrapper from '@/components/common/IconWrapper.astro';
import type { FilterTab } from '@/types';

interface Props {
  tabs: FilterTab[];
  class?: string;
}

const { tabs, class: className = '' } = Astro.props;
const currentPath = Astro.url.pathname;
---
<section id="archive">
  <div class={`filter-tabs flex flex-wrap sm:flex-nowrap sm:justify-normal items-center gap-2 font-mono ${className}`}>
    {tabs.map(tab => {
      const isActive = tab.active ?? currentPath === tab.href;
      
      return (
        <a href={tab.href} class:list={[
          'btn not-prose',
          isActive ? 'bg-surface-2 text-content' : ' text-content-3 hover:bg-surface-2/50 hover:text-content'
        ]}>
          {tab.icon && <IconWrapper name={tab.icon} size={16} />}
          <span>{tab.label}</span>
        </a>
      );
    })}
    <div class="h-px bg-ui flex-1"></div>
  </div>
</section>