---
import IconWrapper from '@/components/common/IconWrapper.astro';
import { formatDate, getBreadcrumbsFromPath } from '@/utils/commonFunctions';
import Breadcrumbs from '@/components/widgets/Breadcrumbs.astro';

interface Props {
  breadcrumb?: string;
  title: string;
  description?: string;
  lastUpdated?: Date;
  showLastUpdated?: boolean;
}

const { 
  breadcrumb, 
  title, 
  description, 
  lastUpdated,
  showLastUpdated = true 
} = Astro.props;

// Generate breadcrumbs for the page
const breadcrumbs = getBreadcrumbsFromPath(breadcrumb || Astro.url.pathname);

---

<header class="page-header mb-12 not-prose">
  <div class="content-stretch flex flex-col gap-8">
    <div class="flex flex-col gap-2">
      {breadcrumb && (
        <Breadcrumbs items={breadcrumbs} separator="chevron" class="text-sm my-6" />
      )}
      <div class="flex flex-col gap-4">
        <h1 class="text-3xl md:text-4xl font-bold text-content">
          {title}
        </h1>

        {showLastUpdated && lastUpdated && (
          <div class="flex items-center gap-2 text-sm text-content-3 font-mono">
            <IconWrapper name="calendar-week" size={16} class="opacity-60" />
            <time datetime={lastUpdated.toISOString()}>
              Last updated: {formatDate(lastUpdated, 'monthDay')}
            </time>
        </div>
        )}
      </div>
    </div>

    {description && (
      <p class="text-lg text-content-3">
        {description}
      </p>
    )}

  </div>
</header>