---
import PageLayout from '@/layouts/PageLayout.astro';

const testDate = new Date('2025-10-27');


---

<PageLayout 
  title="Test Page" 
  description="Testing the page layout system"
  lastUpdated={testDate}
>
  <p>This is regular content within the container.</p>
  
  <div class="breakout bg-gray-100 dark:bg-gray-800 p-8 my-8">
    <p class="text-center">This content breaks out of the container!</p>
  </div>
  
  <p>Back to normal constrained width.</p>
</PageLayout>
